/* MEDIUM */

@media screen and (min-width: 768px) {
    .col-md-4 {
        width: calc(4 * 100% / 12);
    }
    .col-md-6 {
        width: calc(6 * 100% / 12);
    }
    .col-md-8 {
        width: calc(8 * 100% / 12);
    }
    .hero .card-thumbnail > img {
        max-width: 50%;
    }
    .strategic .strategic-planning > h2 {
        font-size: 60px;
    }
}

/* LARGE */

@media screen and (min-width: 992px) {
    .col-lg-4 {
        width: calc(4 * 100% / 12);
    }
    .col-lg-6 {
        width: calc(6 * 100% / 12);
    }
    .col-lg-8 {
        width: calc(8 * 100% / 12);
    }
    .container {
        max-width: 1200px;
    }
    .container-sm {
        max-width: 800px;
    }
    .page-header .nav-list {
        display: flex;
        gap: 20px;
    }
    .page-header .nav-bar {
        display: none;
    }
    .hero .card-body.card-big {
        flex-wrap: nowrap;
        gap: 0;
    }
    .hero .card-thumbnail > img {
        max-width: 100%;
    }
    .strategic-developement img {
        max-width: 75%;
    }
}