/* RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

ul, ol, menu {
    list-style-type: none;
}

img {
    max-width: 100%;
}

a, button {
    text-decoration: none;
    color: currentColor;
}

/* LAYOUT */

.container {
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-12 {
    width: 100%;
}

/* STYLE */

html {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.button-white {
    background-color: white;
    color: black;
    border-radius: 24px;
    padding: 10px;
}

.card-title {
    color: #0084fd;
}

.card-icon {
    color: #0084fd;
    font-size: 100px;
}

.card-button {
    background-color: #0084fd;
    color: white;
    border-radius: 24px;
    padding: 10px 60px;
}

.strategic-circle-button {
    background-color: #9792E4;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    line-height: 48px;
}

/* UTILITIES */

.padding-20 {
    padding: 20px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.inline-block {
    display: inline-block;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-self-end {
    align-self: flex-end;
}

.text-white {
    color: white;
}

.text-align-center {
    text-align: center;
}

/* HEADER */

.page-header {
    background-color: #0084fd;
}

.nav-list {
    display: none;
}

.nav-bar {
    font-size: 24px;
}

/* MAIN */

/* HERO */

.hero .card-body {
    background-color: #b5ddff;
    border-radius: 24px;
    padding: 24px;
    gap: 40px;
    height: 100%;
}

.hero .card-body.card-big {
    padding-bottom: 0;
    height: 100%;
    gap: 0;
}

.hero .card-button-icon {
    padding: 0 10px;
}

.hero .card-thumbnail > img {
    display: block;
}

/* STRATEGIC */

.strategic {
    background-color: #9792E4;
}

.strategic .strategic-planning {
    color: white;
}

.strategic .strategic-planning > h2 {
    font-size: 35px;
}

.strategic-developement .card-body {
    background-color: white;
    border-radius: 65px;
}

.strategic-developement .card-title {
    color: black;
    font-size: 30px;
    font-weight: 700;
}

.strategic-developement .card-text {
    font-style: italic;
}